body
{
    
}
div
{
    /*border: 0.5px solid black;*/
}
#top-content
{
    background-color: #FA8B07;
    height: 600px;
    
}
#top-top-content
{
    
}
#logo
{
    color: white;
    text-align: center;
}
p
{
    font-size: 80%;
}
#mid-top-content
{
    height: 500px;
    padding-top: 200px;
}
.info-center
{
    margin-left: 100px;
    color: white;
}
#bot-top-content
{
    
    
}
#raw-bot-top-content
{
    margin-left: 33.5%;
    margin-right: auto;
}